@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kaushan+Script&display=swap');
@font-face {
    font-family: "idroid";
    src: url('fontes/IDroid.otf') format('opentype'), url('fontes/IDroid\ Bold.otf') format('opentype'), url('fontes/IDroid\ Bold\ Italic.otf') format('opentype'), url('fontes/IDroid\ Italic.otf') format('opentype');
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao : Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#l2fa866
#1a5c37
#063d1e
*/
*{
    margin: 0px;
    margin: 0px;

}

body{
    background-color: var(--cor0);
}
header{
    background-image: linear-gradient(180deg, var(--cor3), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding: 40px 0px 0px 0px;
}
header > h1{
    color: white;
    font: normal normal 3em var(--fonte-destaque);
    margin: 0px 0px 20px 0px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p{
    font: normal normal 1.2em var(--fonte-padrao);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
    max-width: 600px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    margin-bottom: 20px;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font: normal bold 1em var(--fonte-padrao);
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}
div.video{
    background-color: var(--cor5);
    margin:0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
a.externo::after{
    content: '\00A0\1F517';
}
main h1{
    color: var(--cor5);
    font: normal normal 1.8em var(--fonte-android);
}
main h2{
    font: normal normal 1.5em var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(90deg, var(--cor1), transparent);
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 15px;
    font-size: 1.1em;
    line-height: 2em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    background-color: var(--cor2);
    padding: 2px 6px;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor5);
}
main a:hover{
    color: var(--cor3);
    background-color: var(--cor1);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font: normal normal 0.8em var(--fonte-padrao);
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a{
    color: var(--cor1);
}